block footer

	footer.site-footer
		.container.cf
			.copyright © 2016 Юридическое агентство «Юридические и информационные решения». Все права защищены.
			.made-in Разработка сайта: 
				a(href="https://belugalab.ru/" target="_blank") Beluga Labs
