block footer

	footer.site-footer
		.container.cf
			.copyright © 2016 Юридическое агентство «Юридические и информационные решения». Все права защищены.
			.made-in Разработка сайта: 
				a(href="https://belugalab.ru/" target="_blank") Beluga Labs
	#order-service.zoom-anim-dialog.mfp-hide.popup
		.sidebar__form
			form
				p.heading Заказать звонок
				input.text-inp(type="text" placeholder="Имя")
				input.text-inp(type="tel" placeholder="Телефон")
				input.text-inp(type="email" placeholder="Email")
				input.btn.btn--white-to.send-btn(type="submit" value="ОТПРАВИТЬ")
