block header

	header.site-header
		.container.cf
			a.site-header__logo(href="#")
				img(src="img/logo.png", alt="")
			ul.main-menu
				li.current-menu-item
					a(href="#") О КОМПАНИИ
				li
					a(href="#") ЮРИДИЧЕСКАЯ ПОМОЩЬ 
				li
					a(href="#") ИНФОУСЛУГИ
				li
					a(href="#") ЦЕНЫ
				li
					a(href="#") КОНТАКТЫ
			a.site-header__tel(href="tel:89163818282") 8 (916) 381-82-82