extends _layout
block vars
	- var bodyClass = 'page'
block content
	main.main-content
		.page-heading.cf(style="background-image: url(img/about-bg.jpg)")
			.container
				h4 Юридическое и Информационное сопровождение
				p Физических и юридических лиц
		.page-wrapper
			.container
				.page__inner.has-sidebar
					.page-content
						h1.page-title О КОМПАНИИ
						p Сотрудники ЮА имеют большой опыт работы в судебных, налоговых и правоохранительных органах, что позволяет им оказывать юридическую помощь юр и физ лицам в самых сложных ситуациях с которыми они столкнулись. Также мы сотрудничаем с фирмами и коллегиями адвокатов имеющими репутацию профессиональных и надежных партнеров. 
						ul.about__list
							li 
								p Мы интересны физ лицам и компаниям у которых нет адвокатов, юристов соответствующей специализации, а также  службы безопасности, которые могут профессионально провести проверку встречных физ и юр лиц и получить о них необходимую информацию.
							li 
								p Мы не будем приводить цифры о количестве выигранных дел, заработанных или сэкономленных денег клиентам, других количественных показателях. Которые Вы вы все равно проверить не сможете. 
							li 
								p Мы хотим предложить Вам иной продукт. Это качественные юр услуги и предоставление  Вам  информации о всех юр и физ лицах с которыми вам приходится сталкиваться в ходе вашей работы. 
						p Современный ритм жизни требует быстрого выполнения поставленных перед вами задач. В связи с чем, зачастую, времени на длительные поездки и переговоры, просто не хватает физически. Мы можем предоставить Вам такие информационные услуги дистанционно, а наши адвокаты и юристы готовы представлять ваши интересы,  где это потребуется, что сэкономит вам время, которое вы можете посвятить выполнению своей непосредственной работы. 
						p
							strong Мы готовы к сотрудничеству и хотим помочь Вам.
					aside.page-sidebar
						.sidebar__nav
							ul.sidebar__menu
								li.menu-item-has-children
									a(href="#") Юридическая помощь
									ul.sub-menu
										li.menu-item-has-children
											a(href="#") Уголовное право и уголовно-судебное судопроизводство
											ul.sub-menu
												li
													a(href="#") Юрист в области управления проблемными активами
												li
													a(href="#") Административная практика и судопроизводство
												li
													a(href="#") Семейные споры
												li
													a(href="#") Наследственные дела
												li
													a(href="#") Земельные споры
										li
											a(href="#") Гражданское право и судопроизводство
										li
											a(href="#") Арбитражные и налоговые споры, банкротство
										li
											a(href="#") Исполнительное производство
										li
											a(href="#") Юрист в области управления проблемными активами
										li
											a(href="#") Административная практика и судопроизводство
										li
											a(href="#") Семейные споры
										li
											a(href="#") Наследственные дела
										li
											a(href="#") Земельные споры
								li.menu-item-has-children
									a(href="#") ИНФормационные УСЛУГИ
									ul.sub-menu
										li.menu-item-has-children
											a(href="#") Уголовное право и уголовно-судебное судопроизводство
											ul.sub-menu
												li
													a(href="#") Юрист в области управления проблемными активами
												li
													a(href="#") Административная практика и судопроизводство
												li
													a(href="#") Семейные споры
												li
													a(href="#") Наследственные дела
												li
													a(href="#") Земельные споры
										li
											a(href="#") Гражданское право и судопроизводство
										li
											a(href="#") Арбитражные и налоговые споры, банкротство
										li
											a(href="#") Исполнительное производство
										li
											a(href="#") Юрист в области управления проблемными активами
										li
											a(href="#") Административная практика и судопроизводство
										li
											a(href="#") Семейные споры
										li
											a(href="#") Наследственные дела
										li
											a(href="#") Земельные споры
						.sidebar__form
							form
								p.heading Заказать звонок
								input.text-inp(type="text" placeholder="Имя")
								input.text-inp(type="tel" placeholder="Телефон")
								input.text-inp(type="email" placeholder="Email")
								input.btn.btn--white-to.send-btn(type="submit" value="ОТПРАВИТЬ")








block inlineScripts