extends _layout
block vars
	- var bodyClass = 'service'
block content
	main.main-content
		.page-heading.cf(style="background-image: url(img/service-bg.jpg)")
			.container
				h5 Юридическая помощь
		.page-wrapper
			.container
				.page__inner.has-sidebar
					.page-content
						h1.page-title Уголовное право и уголовно-судебное судопроизводство
						p Уголовное право регулирует правоотношения не только физических, но и юридических лиц, поэтому помощь в этой сфере требуется и тем и другим. 
						p Наши адвокаты и юристы имеющие   уголовно-правовую специализацию помогут вам правильно сориентироваться в сложившейся ситуации с ее первых минут и заканчивая обжалованием  дела в Верховном Суде РФ, если конечно это потребуется. Если Вы не хотите заключать соглашение с адвокатом, или адвокат уже есть, Вы можете просто получить консультацию по уголовному делу. 
						p
							strong Наша помощь нужна Вам если:
						ul.check-list
							li В отношении вас в правоохранительные органы написано заявление или проводится доследственная проверка. 
							li Возбуждено и расследуется уголовное дело
							li Состоялся обвинительный приговор, который необходимо обжаловать в вышестоящей инстанции
							li Юр лицам чаще всего требуется помощь, когда они сталкиваются с проверками налоговых, таможенных органов, органов внутренних дел, юстиции и прокуратуры.
						p В каждой из этих ситуаций  мы проконсультируем Вас, поможем выработать правильную позицию и собрать необходимые документы свидетельствующие в Вашу невиновности
						p У нас работает много бывших сотрудников налоговых органов, налоговой полиции, следователей полиции и следственного комитета. Эти знания позволяют иметь четкое представление, как в том или ином случае действуют правоохранительные и судебные органы, что в свою очередь дает возможность осуществлять грамотную и своевременную защиту.
						.service-order
							a.btn.btn--tblue.order-service(href="#order-service") ЗАЯВКА НА УСЛУГУ
					aside.page-sidebar
						.sidebar__nav
							ul.sidebar__menu
								li.menu-item-has-children
									a(href="#") Юридическая помощь
									ul.sub-menu
										li.menu-item-has-children
											a(href="#") Уголовное право и уголовно-судебное судопроизводство
											ul.sub-menu
												li
													a(href="#") Юрист в области управления проблемными активами
												li
													a(href="#") Административная практика и судопроизводство
												li
													a(href="#") Семейные споры
												li
													a(href="#") Наследственные дела
												li
													a(href="#") Земельные споры
										li
											a(href="#") Гражданское право и судопроизводство
										li
											a(href="#") Арбитражные и налоговые споры, банкротство
										li
											a(href="#") Исполнительное производство
										li
											a(href="#") Юрист в области управления проблемными активами
										li
											a(href="#") Административная практика и судопроизводство
										li
											a(href="#") Семейные споры
										li
											a(href="#") Наследственные дела
										li
											a(href="#") Земельные споры
								li.menu-item-has-children
									a(href="#") ИНФормационные УСЛУГИ
									ul.sub-menu
										li.menu-item-has-children
											a(href="#") Уголовное право и уголовно-судебное судопроизводство
											ul.sub-menu
												li
													a(href="#") Юрист в области управления проблемными активами
												li
													a(href="#") Административная практика и судопроизводство
												li
													a(href="#") Семейные споры
												li
													a(href="#") Наследственные дела
												li
													a(href="#") Земельные споры
										li
											a(href="#") Гражданское право и судопроизводство
										li
											a(href="#") Арбитражные и налоговые споры, банкротство
										li
											a(href="#") Исполнительное производство
										li
											a(href="#") Юрист в области управления проблемными активами
										li
											a(href="#") Административная практика и судопроизводство
										li
											a(href="#") Семейные споры
										li
											a(href="#") Наследственные дела
										li
											a(href="#") Земельные споры
						.sidebar__form
							form
								p.heading Заказать звонок
								input.text-inp(type="text" placeholder="Имя")
								input.text-inp(type="tel" placeholder="Телефон")
								input.text-inp(type="email" placeholder="Email")
								input.btn.btn--white-to.send-btn(type="submit" value="ОТПРАВИТЬ")








block inlineScripts